#!/usr/bin/env bash

set -eufo pipefail

trap 'killall Dock' EXIT

# Remove all Apps from the Dock
defaults write com.apple.dock persistent-apps -array

{{ $applications := list
    "/Applications/Google Chrome.app"
    "/Applications/Visual Studio Code.app"
    "/Applications/Warp.app"
-}}

{{ range $applications -}}
defaults write com.apple.dock persistent-apps -array-add '
    <dict>
        <key>tile-data</key>
        <dict>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>{{ . }}</string>
                <key>_CFURLStringType</key>
                <integer>0</integer>
            </dict>
        </dict>
    </dict>'
{{ end -}}
