#!/usr/bin/env bash

{{ $brews := list
    "bat"
    "chezmoi"
    "curl"
    "eza"
    "fzf"
    "fnm"
    "git"
    "gpg"
    "gawk"
    "golang"
    "golangci-lint"
    "libyaml"
    "neovim"
    "ripgrep"
    "rbenv"
    "ruby-build"
    "starship"
    "sheldon"
    "zoxide"
    "zsh"
-}}

{{ $casks := list
    "bitwarden"
    "figma"
    "firefox"
    "font-fira-code"
    "font-fira-code-nerd-font"
    "google-chrome"
    "raycast"
    "visual-studio-code"
    "warp"
-}}

{{ if eq .deviceType "personal" -}}
{{ $casks = concat $casks (list
    "cleanmymac"
    "discord"
    "kindle"
    "netnewswire"
    "proton-drive"
    "protonvpn"
    "transmission"
)}}
{{ end -}}

(/opt/homebrew/bin/brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
{{ range ($brews | sortAlpha | uniq) }}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) }}
cask "{{ . }}"
{{ end }}
EOF
) || (echo "some packages cannot be installed")
