#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

# set -eufo pipefail

brew=$(which brew) || /opt/homebrew/bin/brew

echo "==> 📜 Install Homebrew packages"

$brew update
$brew upgrade

$brew install bat
$brew install bottom
$brew install coreutils
$brew install curl
$brew install eza
$brew install ffmpeg
$brew install findutils
$brew install fnm
$brew install fzf
$brew install gawk
$brew install git
$brew install gnu-sed
$brew install gnu-tar
$brew install golang
$brew install golangci-lint
$brew install grep
$brew install gpg
$brew install htop
$brew install httpie
$brew install imagemagick
$brew install jq
$brew install libyaml
$brew install moreutils
$brew install neovim
$brew install openssh
$brew install rclone
$brew install rbenv
$brew install ripgrep
$brew install rsync
$brew install ruby-build
$brew install sheldon
$brew install starship
$brew install thefuck
$brew install tldr
$brew install wget
$brew install yamllint
$brew install zoxide
$brew install zsh

$brew tap homebrew/cask-fonts
$brew install font-fira-code
$brew install font-fira-code-nerd-font

$brew install --cask bitwarden
$brew install --cask figma
$brew install --cask firefox
$brew install --cask google-chrome
$brew install --cask visual-studio-code
$brew install --cask warp
$brew install --cask raycast

# [[ if eq .deviceType "personal" ]]
$brew install --cask cleanmymac
$brew install --cask discord
$brew install --cask kindle
$brew install --cask netnewswire
$brew install --cask proton-drive
$brew install --cask protonvpn
$brew install --cask transmission
$brew install --cask parallels
# [[ end ]]

$brew cleanup
