#!/usr/bin/env bash
# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

set -eufo pipefail

if command -v code >/dev/null 2>&1; then
  echo "==> 📜 Install VS Code extensions"

  code --install-extension eamodio.gitlens
  code --install-extension EditorConfig.EditorConfig
  code --install-extension esbenp.prettier-vscode
  code --install-extension monokai.theme-monokai-pro-vscode
  code --install-extension sdras.night-owl
  code --install-extension sibiraj-s.vscode-scss-formatter
  code --install-extension streetsidesoftware.code-spell-checker
  code --install-extension usernamehw.errorlens
  code --install-extension wayou.vscode-todo-highlight
  code --install-extension yoavbls.pretty-ts-errors

  # [[ if eq .deviceType "personal" ]]
  code --install-extension golang.go
  code --install-extension bradlc.vscode-tailwindcss
  code --install-extension douglaszaltron.nunjucks-vscode-extensionpack
  code --install-extension lokalise.i18n-ally
  code --install-extension shopify.ruby-extensions-pack
  code --install-extension shopify.ruby-lsp
  # [[ end ]]
fi
