# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

progress = true

[data]
    deviceType = # [[- promptChoice "What type of host are you on" (list "personal" "work") -]]
    cpuType = # [[- output "uname" "-m" | trim | quote  -]]
    name = # [[- promptString "name" "Gheorghita Hurmuz" | trim | quote -]]
    email = # [[- promptString "email" "hurmuz.gheorghita@pm.me" | trim | quote -]]
    bwEmail = # [[-  promptString "bwEmail" "hurmuz.gheorghita@pm.me" | trim | quote -]]

[edit]
    command = "code"
    args = ["--new-window --wait"]

[warnings]
    configFileTemplateHasChanged = false
