# chezmoi:template:left-delimiter="# [[" right-delimiter="]]"

# [[- $is_personal := promptBool "Personal device" -]]
# [[- $name := promptString "Name" "Gheorghita Hurmuz" -]]
# [[- $email := promptString "Email" "hurmuz.gheorghita@pm.me" -]]

progress: true

edit:
    command: neovim

warnings:
    configFileTemplateHasChanged: false

data:
    name: # [[ $name | quote ]]
    email: # [[ $email | quote ]]

scriptEnv:
    DOTFILE_PERSONAL_DEVICE: # [[ $is_personal | quote ]]