# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

HashKnownHosts no

# [[- if eq .chezmoi.os "darwin" ]]
Host *
    IgnoreUnknown AddKeysToAgent,UseKeychain
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile # [[- if eq .deviceType "personal" ]] ~/.ssh/id_rsa # [[- else ]] ~/.ssh/id_ed25519 # [[- end -]]
# [[- end ]]
