#!/bin/bash

set -eufo pipefail

{{ $sudo := "sudo " -}}

{{ $packages := list
     "build-essential"
     "curl"
     "fuse" 
     "fzf"
     "git"
     "libfuse2"
     "zsh"
     "dirmngr"
     "gpg"
     "gawk"
     "autoconf"
     "patch"
     "rustc"
     "libssl-dev"
     "libyaml-dev"
     "libreadline6-dev"
     "zlib1g-dev"
     "libgmp-dev"
     "libncurses5-dev"
     "libffi-dev"
     "libgdbm6"
     "libgdbm-dev"
     "libdb-dev"
     "uuid-dev"
-}}

{{ $sudo }}apt-get install -y {{ $packages | join " " }}