#!/bin/bash

set -eufo pipefail

{{ $sudo := "sudo " -}}

{{ $packages := list
     "build-essential"
     "curl"
     "fuse" 
     "fzf"
     "git"
     "libfuse2"
     "zsh"
-}}

{{ $sudo }}apt-get install -y {{ $packages | join " " }}