# chezmoi:template:left-delimiter="# [[" right-delimiter=]]

[user]
    name = # [[ .name ]]
    email = # [[ .email ]]

[color]
	ui = auto

[core]
    editor = nvim
    ignoreCase = false
    fileMode = false
    whitespace = trailing-space,space-before-tab
    autocrlf = input

[init]
    defaultBranch = main

[branch]
    autoSetupRebase = always

[rebase]
	autosquash = true
	autostash = true

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[help]
	autocorrect = prompt

[alias]
    # https://jordanelver.co.uk/blog/2020/06/04/fixing-commits-with-git-commit-fixup-and-git-rebase-autosquash/
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
    # https://itenium.be/blog/dev-setup/git-assume-unchanged/
    hide = update-index --skip-worktree
    unhide = update-index --no-skip-worktree
    hidden = "!git ls-files -v | grep ^S | cut -c 3-"
    # https://elijahmanor.com/byte/git-recent-branches
    recent = "!git branch --sort=-committerdate | fzf --header Checkout | xargs git checkout"
    fomo = "!f() { git fetch origin \"$1\" && git rebase origin/\"$1\"; }; f"
    wip = !git stage --all && git ls-files --deleted -z | xargs -r0 git rm &&  git commit -m 'wip'
    please = push --force-with-lease --force-if-includes
    wta = "!f() { \
        ROOT=$(git rev-parse --show-toplevel); \
        REPO_NAME=$(basename \"$ROOT\"); \
        WT_DIR=$(dirname \"$ROOT\")/${REPO_NAME}-worktrees; \
        mkdir -p \"$WT_DIR\"; \
        if git show-ref --verify --quiet refs/heads/\"$1\"; then \
            git worktree add \"$WT_DIR/$1\" \"$1\"; \
        else \
            BASE_BRANCH=\"${2:-HEAD}\"; \
            git worktree add -b \"$1\" \"$WT_DIR/$1\" \"$BASE_BRANCH\"; \
        fi; \
    }; f"
     wtr = "!f() { \
        ROOT=$(git rev-parse --show-toplevel); \
        REPO_NAME=$(basename \"$ROOT\"); \
        WT_DIR=$(dirname \"$ROOT\")/${REPO_NAME}-worktrees; \
        git worktree remove \"$WT_DIR/$1\"; \
    }; f"
    wtl = worktree list

